.title {
  display: inline-flex;
  padding-left: 225px;
  justify-content: flex-end;
  align-items: center;
  gap: 107px;
}
.exit {
  display: flex;
  width: 147px;
  height: 17px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.h3 {
  display: inline-flex;
  padding: 4px 0 4px 241px;
  justify-content: flex-end;
  align-items: center;
  gap: 347px;
}

.password {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.p {
  font-family: "JejuStoneWall";
  text-shadow: 0px -3px 1px var(--green-700);
}
